.addressset_address {
    margin-top: 20px;
}

.addressset_address-title {
    padding: 10px;
    font-size: 20px;
    color: #6C840A;
}

.addressset_address-inputs {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border:  2px solid #6C840A;
    border-radius: 5px;
    margin-top: 20px;
}

.addressset_address-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.addressset_address-input-select {
    text-overflow: ellipsis;
    width: 177px;
    text-align: center;
}