
.jobset_job {
    margin-top: 20px;
    width: 100%;
}

.jobset_job-title {
    padding: 10px;
    font-size: 20px;
}

.jobset_job-inputs {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border:  2px solid #6C840A;
    margin-top: 20px;
}

.jobset_job-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}