.form-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #5A6F08;
    width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-size: 22px;
    font-weight: 600;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 150px;
}

.form-button {
    margin-top: 10px;
    width: 70px;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.form-button:hover {
    background-color: #5171A5;
    color: white;
}