.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.layout-website_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.layout-logo {
    border-radius: 100%;
    width:80px;
}

.layout-logo_title {
    font-size: 20px;
    color: #5A6F08;
    font-weight: 600;
    margin-left: 10px;
}

.layout-navbar {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}