.nameset_profil {
    margin-top: 20px;
    width: 100%;
}

.nameset_profil-title {
    padding: 10px;
    font-size: 20px;
    color: #6C840A;
}

.nameset_profil-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border:  2px solid #6C840A;
    border-radius: 5px;
    margin-top: 20px;
}

.nameset_profil-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

input {
    margin-left: 10px;
}

.nameset_error-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: rgb(155, 13, 13);
    font-size: 11px;
}