.countryselector_address-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.countryselector_address-input-select {
    text-overflow: ellipsis;
    width: 177px;
    text-align: center;
}

.countryselector_error-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: rgb(155, 13, 13);
    font-size: 11px;
}